body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    user-select: none; /* Disable text selection */
    -webkit-user-select: none; /* Disable text selection in Safari */
    -moz-user-select: none; /* Disable text selection in Firefox */
    -ms-user-select: none; /* Disable text selection in older versions of Internet Explorer */
}
header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 1rem;
    position: relative;
}
.image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: grab;
}
.profile-image {
    width: 180%;
    height: relative;
    position: absolute;
    top: -80px;
    left: -30px;
    transform-origin: center center;
}
.menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}
.nav-links {
    display: flex;
    flex-direction: row;
}
nav a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    transition: background 0.3s;
}
nav a:hover {
    background-color: #555;
}
.container {
    width: 80%;
    margin: 2rem auto;
}
.section {
    background-color: white;
    padding: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 2rem; /* Adjust this to fit your h2 height */
}
.section.active {
    max-height: none; /* Adjust to fit the expanded content */
}
.section h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 1rem;
    margin-top: 0rem;
}
.section p {
    display: none;
}
.section.active p {
    display: block;
}
.section h2:hover {
    color: #4b5968;
}
.skills ul, .publications ul {
    list-style-type: none;
    padding: 0;
}
.skills li, .publications li {
    background-color: #f9f9f9;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-left: 4px solid #333;
}
.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
}
.skill-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px 15px;
    display: inline-block;
    font-size: 14px;
}

.footer_container {
    display: flex;
    flex-direction: column;
    min-height: 0vh;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }
    .menu-icon {
        display: block;
    }
}
